<form action="/create" method="post">
    <p>Name of user to create</p>
    <input type="text" name="name">
    <p>Email address</p>
    <input type="text" name="email">
    <input type="submit" value="add">
</form>